@mixin ipad($height) {
   @media screen and (min-width: 768px){
       height: $height;
       @content;
   }
}

.header{
    width: 1000px;
    @include ipad(100px){
        width: 500px;
    }
}
.footer {
    color: blue;
    @include ipad(100px){
        color: red;
    }
}